.checklist-form {
  width: 100%;
  max-width: 600px;
  background-color: #1f2937;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-content: center;
    margin: 0 auto;

    margin-top: 50px;

   
}

.input-field,
.text-area-field {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: none;
  outline: none;
  font-size: 1rem;
   
}

.input-field {
  height: 40px;

}

.text-area-field {
  height: 80px;
  resize: none;

}

.checklist-form h3 {
  margin: 10px 0 5px 0;
  color: #fff;
    font-size: 1.2rem;
}

.checklist-form button {
  background-color: #4ade80;
  color: #000;
  padding: 10px;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  border: none;
  transition: background 0.3s;
}

.checklist-form button:hover {
  background-color: #22c55e;
}

.checklist-form div input {
  margin-bottom: 5px;
  
}

.error-message {
  color: #f87171;
  font-weight: bold;
}
